.gameboard {
	margin: 10px auto;
	width: 290px;	
	text-align: center;
}
.row {
	display: block;
	border-bottom: 5px solid #333;
	margin-bottom: 0;
}
.row:last-child {
	border-bottom: 0;
}
.col {
	display: inline-block;
	width: 90px;
	height: 90px;
	border-right: 5px solid #333;
	margin-bottom: -1px;
}
.col:last-child {
	border-right: 0;
}