.icon-x {
	background: url('/resources/icon-x.png') 0 0 no-repeat;
}
.icon-o {
	background: url('/resources/icon-o.png') 0 0 no-repeat;
}
.icon-x, .icon-o {
	display: block;
	width: 80px;
	height: 80px;
	text-align: center;
	margin-top: 2.5px;
}