body {
	font-family: 'Denk One', sans-serif;
	background: url('/resources/wood.jpg') 0 0 repeat;
	min-width: 320px;
	min-height: 480px;
	overflow-x: hidden;
}
.container {
	background-color: white;
	margin: 0 auto;
	width: 320px;
	height: 100%;
	padding: 10px 0;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
li {
	margin: 5px 0;
}