body {
	font-family: 'Denk One', sans-serif;
	min-width: 320px;
	min-height: 480px;
	margin-top: 20px;
	overflow-x: hidden;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
li {
	margin: 5px 0;
}