<template name="footer">
	<footer class="footer">
  	<h3>About</h3>
  	<hr>
  	<p>Powered by <a href="http://meteor.com" target="_blank">Meteor</a>.</p>
  	<p>Designed to run on <a href="http://www.mozilla.org/en-US/firefox/os" target="_blank">FirefoxOS</a>.</p>
  	<p>Authors: <a href="http://twitter.com/crp_underground" target="_blank">Caio Ribeiro</a> and <a href="http://twitter.com/pauloc062" target="_blank">Paulo Cesar</a>.</p>
  	<p><a href="https://github.com/caio-ribeiro-pereira/meteor-tictactoe" target="_blank">Click here to see the game github</a>.</p>
  </footer>
</template>