<template name="onlines">
	{{#unless hasRoom}}
		<div class="userlist">
			{{#if currentUser}}
				<h2>{{currentUser.user}} ({{currentUser.wins}} vitórias).</h2>
			{{else}}
				<form class="form">
					<input type="text" class="input" placeholder="Digite seu nome aqui.">
				</form>
			{{/if}}
			<hr>
			<h3>Oponentes</h3>
			<ul>
			{{#each onlines}}
				<li>
					<a href="javascript:;" class="play" data-enemy="{{user}}" title="Jogar com {{user}}">{{user}}</a>
				</li>
			{{/each}}
		</div>
	{{/unless}}
</template>