<template name="onlines">
	{{#unless hasRoom}}
		<div class="userlist">
			{{#if currentUser}}
				<h3>Bem vindo {{currentUser.user}} ({{currentUser.score}} pontos).</h3>
			{{else}}
				<form class="form">
					<input type="text" name="username" class="input" placeholder="Digite seu nome aqui.">
				</form>
			{{/if}}
			<hr>
			<h2>Onlines</h2>
			<ul>
			{{#each onlines}}
				<li><a href="javascript:;" class="play" data-enemy="{{user}}" title="Jogar com {{user}}">{{user}}</a> ({{score}} pontos)</li>
			{{/each}}
		</div>
	{{/unless}}
</template>