<template name="opponents">
	<div class="opponents">
		{{#if isNotPlaying}}
			{{#unless hasRoom}}
				<div class="userlist">
					{{#if currentUser}}
						<h2>{{currentUser.user}} ({{currentUser.wins}} wins).</h2>
					{{else}}
						<form class="form">
							<input type="text" class="input" placeholder="Your name and press ENTER" maxlength="25">
						</form>
					{{/if}}
					<hr>
					<h3>Opponents</h3>
					<ul>
					{{#each onlines}}
						<li>
							<a href="javascript:;" class="play" data-enemy="{{user}}" title="Play with {{user}}">{{user}}</a>
						</li>
					{{else}}
						<li class="center">No players online here.</li>
					{{/each}}
				</div>
			{{/unless}}
		{{/if}}
	</div>
</template>